AI Fitness Coach — Agent + RAG + PDF (Gemini HTTP).json
{
  "name": "AI Fitness Coach — Agent + RAG + PDF (Gemini HTTP)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        688,
        -384
      ],
      "id": "ba71cf56-bc19-4ebc-a7d3-b0829eadbb25",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1sQvtC-exfU-DzL2KmZzOSwRqBRdQDHUI",
            "mode": "list",
            "cachedResultName": "musculacao",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1sQvtC-exfU-DzL2KmZzOSwRqBRdQDHUI"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        -448
      ],
      "id": "5bd5ace0-408e-48b1-97d7-7910b5b299e4",
      "name": "Search files and folders",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Zu2eN22qw4nFO7oi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1152,
        -448
      ],
      "id": "a2912b8f-e995-44a3-a5ea-2f6213118e17",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1600,
        -352
      ],
      "id": "2a5186d0-b231-4193-bc94-56c7f7b896a5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Zu2eN22qw4nFO7oi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43a529f3-5f3a-4350-a3a8-8a223b59f267",
              "name": "file_id",
              "value": "={{ $('Search files and folders').item.json.id }}",
              "type": "string"
            },
            {
              "id": "633931d7-17b4-4e15-b083-e5b09fefcf2e",
              "name": "file_name",
              "value": "={{ $('Search files and folders').item.json.name }}",
              "type": "string"
            },
            {
              "id": "54876bba-5ddb-4956-b33d-8cb5868112e1",
              "name": "file_type",
              "value": "={{ $('Search files and folders').item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "0860dbb0-390c-49a8-8a64-30369cd52e10",
              "name": "file_url",
              "value": "={{ $('Search files and folders').item.json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -352
      ],
      "id": "5f024ad5-14fa-4080-90cc-e4e4348cace9",
      "name": "set files",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('set files').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0c5027f-3899-481b-b757-4a85e492a05a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "188b3441-4189-46dc-aaaa-945af8e13e95",
                    "leftValue": "={{ $('set files').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3f688fb2-622d-4fec-b7c6-bf565cde8bc0",
                    "leftValue": "={{ $('set files').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1808,
        -352
      ],
      "id": "2a6b6edf-5627-4e2b-a3d5-9794d79d0165",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2240,
        -768
      ],
      "id": "fec188a9-aec6-4360-a576-435e2c91b9a2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2016,
        -240
      ],
      "id": "a873debf-9a8d-43c5-9b07-c6a86e697ba7",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 786,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1552,
        -1072
      ],
      "id": "f252bb96-70f0-47a6-ab69-511f3bacb99e",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "VLNys4ZMchLnWZWB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1472,
        -736
      ],
      "id": "0cea4a95-9a81-4c6f-87ea-061246d62bdd",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "mX6u3Z5pvu6Ml2TK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ json.data }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1856,
        -880
      ],
      "id": "93044024-fd51-48b5-b1ab-041d79965cc5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2272,
        -912
      ],
      "id": "df5d2dfc-91f4-499b-bb72-d81a661b8adc",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -768
      ],
      "id": "fad69f70-4498-47f9-9e30-3fa9ef7e1dea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1840,
        -1648
      ],
      "id": "eeb5b348-4897-4d34-b162-7942dbbe4b0a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1712,
        -1440
      ],
      "id": "3269c658-c829-4741-96cd-541c645f232d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mX6u3Z5pvu6Ml2TK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1488,
        -1648
      ],
      "id": "0e664820-ac36-4287-b41a-8e3f0e684e7b",
      "name": "When chat message received",
      "webhookId": "bef8a242-33f9-4b53-af0a-daaca38a9805"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1856,
        -1440
      ],
      "id": "8fb13464-b31e-41a7-a37e-b13ee2a45eba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use isto para obter informações sobre a tabela Documents no Supabase e fornecer Análise de Inteligência e Ensinar o usuário sobre Atividades Física.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2160,
        -1440
      ],
      "id": "9f8edec3-edf2-4bb0-b864-a53658adda58",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "VLNys4ZMchLnWZWB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        -141.4332833583208
      ],
      "id": "021dbba7-1c05-4400-bb88-88022da69fe1",
      "name": "Create a file",
      "webhookId": "ba4c3548-ed69-48f8-8b2d-ce326465ee59",
      "credentials": {
        "githubOAuth2Api": {
          "id": "b3rf2jL6GpoY3PK4",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set files": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8f36c31f-6924-4f2a-a82c-670515ce6b62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc3c8e59e48389770d360ce0c5fa06d4c3e176f31609d47c836fd813e12e2336"
  },
  "id": "16AQgzEWBqNdrnpf",
  "tags": []
}